html {
    background-image: conic-gradient(red, blue, yellow, green);
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#title {
    height: 1em;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 2px pink;
}

#subtitle {
    height: 1em;
    margin: 0;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

#mainContainer {
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    border: 1px solid black;
}

#mainContainer button {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#green {
    background-color: #90be6d;

}

#yellow {
    background-color: #f6da5e;
}

#red {
    background-color: #f94144;
}

#blue {
    background-color: #00a8e8;
}


/* START AND RESET BUTTONS */

.active {
    filter: brightness(125%);
    transform: scale(105%);
}

#startBtn:disabled,
#resetBtn:disabled {
    background-color: #eee;
    transform: none;
    box-shadow: none;
}

.buttons {
    width: 450px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5em;
}

.buttons button {
    background: #0d3b66;
    color: white;
    border: 1px solid black;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;
    box-shadow: 0 0.5em 0.5em -0.4em #0d3b66;
    margin-bottom: 1em;
}

.buttons button:hover {
    transform: translateY(-0.25em);
    cursor: pointer;
}