body {
    font-family: sans-serif;
}

#upper-text {
    border-style: none;
    font-weight: 100;
    font-size: 400%;
    letter-spacing: 1px;
    text-align: center;
    margin: 2%;
    padding-top: 2%;
}

.container-2 {
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 2%;


}

.container-3 {
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 2%;

}

.container-4 {
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 5%;

}

.containerRed {
    margin: 0%;
    padding-right: 1%;
}

.containerYellow {
    margin: 0%;
    padding-left: 1%;
}

.containerBlue {
    margin: 0%;
    padding-left: 1%;
}

.containerAqua {
    margin: 0%;
    padding-right: 1%;
}


.btnYellow {
    border-style: none;
    letter-spacing: 1px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin: 0 0 0 auto;
    padding: 100px 150px 100px 150px;
    background-color: #f1c50e;

}

.btnYellow:hover {
    background-color: #f4d13e;
}

.btnYellow:active, .btnYellow.action {
    box-shadow: 0 0 0 1px #fff23d inset, 
    0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #fff23d;
    transform: translateY(10px);
}

.btnBlue {
    border-style: none;
    letter-spacing: 1px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin: 0 0 0 auto;
    padding: 100px 150px 100px 150px;
    background-color: #478ac9;
}

.btnBlue:hover {
    background-color: #6ea3d5;
}

.btnBlue:active, .btnBlue.action {
    box-shadow: 0 0 0 1px #2bbcff inset, 
    0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #2bbcff;
    transform: translateY(10px);
}

.btnRed {
    border-style: none;
    letter-spacing: 1px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin: 0 0 0 auto;
    padding: 100px 150px 100px 150px;
    background-color: #db545a;
}

.btnRed:hover {
    background-color: #e47e83;
}

.btnRed:active, .btnRed.action {
    box-shadow: 0 0 0 1px #ff5c36 inset, 
    0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #ff5c36;
    transform: translateY(10px);
}

.btnAqua {
    border-style: none;
    letter-spacing: 1px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin: 0 0 0 auto;
    padding: 100px 150px 100px 150px;
    background-color: #2cccc4;
}

.btnAqua:hover {
    background-color: #51dad3;
}

.btnAqua:active, .btnAqua.action {
    box-shadow: 0 0 0 1px aqua inset, 
    0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: aqua;
    transform: translateY(10px);
}

.btnStart {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin: 0 0 0 auto;
    padding: 30px 60px 30px 60px;
    background-color: black;

}

.bt5 {
    padding-top: 300px;
}

.btnStart {
    justify-content: center;

}

/*Hidden Features*/
.hidden {
    display: none !important;
  }

/*Unclickable Feature*/
.unclickable {
    pointer-events: none;
}
  
/*Hover for Start Button */
.btnStart:hover{
    cursor: pointer;
    background-color: rgb(41, 41, 41);
}
  
/*Pressioning Buttons*/
.frame:active, .btn:active, .pressed {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}