
/* Make the HTML body a grid and selecte the font type */
body {
    display: grid;
    place-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainContainer {
    justify-content: center;
}

/* Give space between the 4 buttons */
.colorButtons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
}

/* Size of each button */
.quadrant {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

/* Change the brightness the button is being click */
.quadrant:active,
.active {
    filter: brightness(125%);
}

/* Give color to the 4 buttons */
.red {
    background-color: rgb(222, 63, 60);
}

.green {
    background-color: rgb(28, 181, 28);
}

.blue {
    background-color: rgb(66, 144, 232);
}

.yellow {
    background-color: rgb(212, 212, 35);
}

/* Center the Start button */
.footerContainer {
    text-align: center;
}

/* Start button style */
.button {
    border-radius: 3px;
    height: 30px;
    width: 80px;
    background-color: white;
    cursor: pointer;
}
